In [0]:
import numpy as np
import pandas as pd
import cufflinks as cf

In [0]:
import plotly.plotly as py
import plotly.tools as tls
import plotly.graph_objs as go

In [0]:
tls.set_credentials_file(username='dubeya', api_key='3sUyVZCvIjWDzsQYfThK')

In [0]:
df = pd.read_csv("Nightingale_csv.csv")

In [36]:
df

,Month,Average size of army,Zymotic diseases,Wounds & injuries,All other causes,Zymotic diseases.1,Wounds & injuries.1,All other causes.1
0,Apr 1854,8571,1,0,5,1.4,0.0,7.0
1,May 1854,23333,12,0,9,6.2,0.0,4.6
2,Jun 1854,28333,11,0,6,4.7,0.0,2.5
3,Jul 1854,28722,359,0,23,150.0,0.0,9.6
4,Aug 1854,30246,828,1,30,328.5,0.4,11.9
5,Sep 1854,30290,788,81,70,312.2,32.1,27.7
6,Oct 1854,30643,503,132,128,197.0,51.7,50.1
7,Nov 1854,29736,844,287,106,340.6,115.8,42.8
8,Dec 1854,32779,1725,114,131,631.5,41.7,48.0
9,Jan 1855,32393,2761,83,324,1022.8,30.7,120.0
10,Feb 1855,30919,2120,42,361,822.8,16.3,140.1
11,Mar 1855,30107,1205,32,172,480.3,12.8,68.6
12,Apr 1855,32252,477,48,57,177.5,17.9,21.2
13,May 1855,35473,508,49,37,171.8,16.6,12.5
14,Jun 1855,38863,802,209,31,247.6,64.5,9.6
15,Jul 1855,42647,382,134,33,107.5,37.7,9.3
16,Aug 1855,44614,483,164,25,129.9,44.1,6.7
17,Sep 1855,47751,189,276,20,47.5,69.4,5.0
18,Oct 1855,46852,128,53,18,32.8,13.6,4.6
19,Nov 1855,37853,178,33,32,56.4,10.5,10.1
20,Dec 1855,43217,91,18,28,25.3,5.0,7.8
21,Jan 1856,44212,42,2,48,11.4,0.5,13.0
22,Feb 1856,43485,24,0,19,6.6,0.0,5.2
23,Mar 1856,46140,15,0,35,3.9,0.0,9.1

In [0]:
data1=df.iloc[0:12]
data2=df.iloc[12:24]

In [38]:
data1

,Month,Average size of army,Zymotic diseases,Wounds & injuries,All other causes,Zymotic diseases.1,Wounds & injuries.1,All other causes.1
0,Apr 1854,8571,1,0,5,1.4,0.0,7.0
1,May 1854,23333,12,0,9,6.2,0.0,4.6
2,Jun 1854,28333,11,0,6,4.7,0.0,2.5
3,Jul 1854,28722,359,0,23,150.0,0.0,9.6
4,Aug 1854,30246,828,1,30,328.5,0.4,11.9
5,Sep 1854,30290,788,81,70,312.2,32.1,27.7
6,Oct 1854,30643,503,132,128,197.0,51.7,50.1
7,Nov 1854,29736,844,287,106,340.6,115.8,42.8
8,Dec 1854,32779,1725,114,131,631.5,41.7,48.0
9,Jan 1855,32393,2761,83,324,1022.8,30.7,120.0
10,Feb 1855,30919,2120,42,361,822.8,16.3,140.1
11,Mar 1855,30107,1205,32,172,480.3,12.8,68.6

In [39]:
data2

,Month,Average size of army,Zymotic diseases,Wounds & injuries,All other causes,Zymotic diseases.1,Wounds & injuries.1,All other causes.1
12,Apr 1855,32252,477,48,57,177.5,17.9,21.2
13,May 1855,35473,508,49,37,171.8,16.6,12.5
14,Jun 1855,38863,802,209,31,247.6,64.5,9.6
15,Jul 1855,42647,382,134,33,107.5,37.7,9.3
16,Aug 1855,44614,483,164,25,129.9,44.1,6.7
17,Sep 1855,47751,189,276,20,47.5,69.4,5.0
18,Oct 1855,46852,128,53,18,32.8,13.6,4.6
19,Nov 1855,37853,178,33,32,56.4,10.5,10.1
20,Dec 1855,43217,91,18,28,25.3,5.0,7.8
21,Jan 1856,44212,42,2,48,11.4,0.5,13.0
22,Feb 1856,43485,24,0,19,6.6,0.0,5.2
23,Mar 1856,46140,15,0,35,3.9,0.0,9.1

In [0]:
trace1 = go.Barpolar(
    r=data1[['Zymotic diseases']],
    text=['April-1854','May-1854','June-1854','July-1854','August-1854','September-1854','October-1854','November-1854','December-1854', 'January-1855', 'February-1855','March-1855'],
    name='Zymotic diseases',marker=dict(color='rgb(106,81,163)')
)

In [0]:
trace2 = go.Barpolar(
    r=data1[['Wounds & injuries']],
    text=['April-1854','May-1854','June-1854','July-1854','August-1854','September-1854','October-1854','November-1854','December-1854', 'January-1855', 'February-1855','March-1855'],
    name='Wounds & injuries',
    marker=dict(color='rgb(158,154,200)')
)

In [0]:
trace3 = go.Barpolar(
    r=data1[['All other causes']],
    text=['April-1854','May-1854','June-1854','July-1854','August-1854','September-1854','October-1854','November-1854','December-1854', 'January-1855', 'February-1855','March-1855'],
    name='All other causes',
    marker=dict(color='rgb(203,201,226)')
)

In [49]:
data = [trace1,trace2,trace3]
layout = go.Layout(
    title='APR 1854 to MAR 1855',
    font=dict(
        size=16
    ),
    legend=dict(
        font=dict(
            size=16
        )
    ),
    #radialaxis=dict(
     #   ticksuffix='%'
    #),
    orientation=270
)
fig = go.Figure(data=data, layout=layout)
py.iplot(fig, filename='wind-chart1')

High five! You successfully sent some data to your account on plotly. View your plot in your browser at https://plot.ly/~dubeya/0 or inside your plot.ly account where it is named 'wind-chart1'

In [0]:
trace4 = go.Barpolar(
    r=data2[['Zymotic diseases']],
    text=['April-1855','May-1855','June-1855','July-1855','August-1855','September-1855','October-1855','November-1855','December-1855', 'January-1856', 'February-1856','March-1856'],
    name='Zymotic diseases',
    marker=dict(color='rgb(106,81,163)')
)
trace5 = go.Barpolar(
    r=data2[['Wounds & injuries']],
    text=['April-1855','May-1855','June-1855','July-1855','August-1855','September-1855','October-1855','November-1855','December-1855', 'January-1856', 'February-1856','March-1856'],
    name='Wounds & injuries',
    marker=dict(color='rgb(158,154,200)')
)
trace6 = go.Barpolar(
    r=data2[['All other causes']],
    text=['April-1855','May-1855','June-1855','July-1855','August-1855','September-1855','October-1855','November-1855','December-1855', 'January-1856', 'February-1856','March-1856'],
    name='All other causes',
    marker=dict(color='rgb(203,201,226)')
)

In [53]:
data = [trace4,trace5,trace6]
layout = go.Layout(
    title='APR 1855 to MAR 1856',
    font=dict(
        size=16
    ),
    legend=dict(
        font=dict(
            size=16
        )
    ),
    orientation=270
)
fig = go.Figure(data=data, layout=layout)
py.iplot(fig, filename='wind-chart-2')